In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(r"C:\Users\Namrata Patil\Desktop\bana698-project\culminating-project-group-1\Week 3\NP\Group1Data.csv")
df.head()

,CountryShortName,Year,ARI treatment (% of children under 5 taken to a health provider),Access to clean fuels and technologies for cooking (% of population),"Access to clean fuels and technologies for cooking, rural (% of rural population)","Access to clean fuels and technologies for cooking, urban (% of urban population)",Access to electricity (% of population),"Access to electricity, rural (% of rural population)","Access to electricity, urban (% of urban population)",Account ownership at a financial institution or with a mobile-money-service provider (% of population ages 15+),...,Women who believe a husband is justified in beating his wife (any of five reasons) (%),Women who believe a husband is justified in beating his wife when she argues with him (%),Women who believe a husband is justified in beating his wife when she burns the food (%),Women who believe a husband is justified in beating his wife when she goes out without telling him (%),Women who believe a husband is justified in beating his wife when she neglects the children (%),Women who believe a husband is justified in beating his wife when she refuses sex with him (%),Women who were first married by age 15 (% of women ages 20-24),Women who were first married by age 18 (% of women ages 20-24),Women's share of population ages 15+ living with HIV (%),Young people (ages 15-24) newly infected with HIV
0,Afghanistan,2021.0,NaN,34.900000,17.400000,84.500000,97.700000,97.100000,99.500000,9.65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.231041,500.0
1,Afghanistan,2022.0,NaN,36.100000,18.500000,85.000000,85.300000,81.700000,95.900000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.313433,500.0
2,Afghanistan,2023.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,9.6,28.7,NaN,NaN
3,Africa Eastern and Southern,2021.0,NaN,21.372164,9.097176,40.687817,48.127211,32.809138,75.483124,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.568564,NaN
4,Africa Eastern and Southern,2022.0,NaN,22.100884,9.473374,41.211606,48.742043,33.760782,75.847809,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.815034,NaN

In [4]:
df.shape

(795, 1513)

In [6]:
df.isnull().sum()

CountryShortName                                                                                    0
Year                                                                                                0
ARI treatment (% of children under 5 taken to a health provider)                                  793
Access to clean fuels and technologies for cooking  (% of population)                             321
Access to clean fuels and technologies for cooking, rural (% of rural population)                 321
                                                                                                 ...
Women who believe a husband is justified in beating his wife when she refuses sex with him (%)    782
Women who were first married by age 15 (% of women ages 20-24)                                    765
Women who were first married by age 18 (% of women ages 20-24)                                    763
Women's share of population ages 15+ living with HIV (%)                                          406
Young people (ages 15-24) newly infected with HIV                                                 536
Length: 1513, dtype: int64

In [7]:
# Calculate percentage of null values in each column
null_percentage = (df.isnull().sum() / len(df)) * 100

# Display the null percentage for each column
null_percentage

CountryShortName                                                                                   0.000000
Year                                                                                               0.000000
ARI treatment (% of children under 5 taken to a health provider)                                  99.748428
Access to clean fuels and technologies for cooking  (% of population)                             40.377358
Access to clean fuels and technologies for cooking, rural (% of rural population)                 40.377358
                                                                                                    ...
Women who believe a husband is justified in beating his wife when she refuses sex with him (%)    98.364780
Women who were first married by age 15 (% of women ages 20-24)                                    96.226415
Women who were first married by age 18 (% of women ages 20-24)                                    95.974843
Women's share of population ages 15+ living with HIV (%)                                          51.069182
Young people (ages 15-24) newly infected with HIV                                                 67.421384
Length: 1513, dtype: float64

In [11]:
null_percentage[null_percentage>=90]

ARI treatment (% of children under 5 taken to a health provider)                                          99.748428
Adequacy of social insurance programs (% of total welfare of beneficiary households)                      99.748428
Adequacy of social protection and labor programs (% of total welfare of beneficiary households)           99.496855
Adequacy of social safety net programs (% of total welfare of beneficiary households)                     99.496855
Adequacy of unemployment benefits and ALMP (% of total welfare of beneficiary households)                 99.874214
                                                                                                            ...
Women who believe a husband is justified in beating his wife when she goes out without telling him (%)    98.238994
Women who believe a husband is justified in beating his wife when she neglects the children (%)           98.238994
Women who believe a husband is justified in beating his wife when she refuses sex with him (%)            98.364780
Women who were first married by age 15 (% of women ages 20-24)                                            96.226415
Women who were first married by age 18 (% of women ages 20-24)                                            95.974843
Length: 266, dtype: float64

In [14]:
count = (null_percentage>=90).sum()
count

266

In [17]:
null_col = null_percentage[null_percentage>=90].index
df_new = df.drop(columns=null_col)
df_new.shape

(795, 1247)

In [18]:
df_new.to_csv("Group1Data_90%NullRemoved.csv",index=False)
print("File saved as Group1Data_90%NullRemoved.csv")

File saved as Group1Data_90%NullRemoved.csv